body {
    width: 100vw;
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
    background-color: #000;
    color: #fff;
}

.screen1 {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.screen1 > img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    left: 0px;
    inset: 1;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
}

.screen1 .content {
    width: 40%;
    text-align: center;
}
.screen1 .content .desc {
    font-size: 16px;
    color: #b3b3b3;
    line-height: 25px;
}

.screen1 img {
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.screen {
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen .content {
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screen .content .desc {
    font-size: 16px;
    color: #b3b3b3;
    line-height: 25px;
}
.screen .content img {
    width: 500px;
    height: 500px;
}

.screen3 {
    min-width: 100%;
    min-height: 100vh;
}

.screen4 {
    min-width: 100%;
    min-height: 100vh;
}

.screen .content .line1 {
    margin-top: 50px;
}
.screen .content .line2 {
    margin-bottom: 50px;
}
.screen .content .line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 20px;
    padding: 20px;
    width: 80%;
}

.screen .content .line .item {
    min-width: 100px;
    min-height: 30px;
    background-color: #252525;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}